# Telegram API credentials — get yours at https://my.telegram.org
TELEGRAM_API_ID=37116526
TELEGRAM_API_HASH=9a715fa308df30fb61ac19edae50ebb7
TELEGRAM_PHONE_NUMBER=+251713178559

# Database Connection
DATABASE_URL=mongodb+srv://wyaikob_db_user:<password>@cluster1.6fu6gtw.mongodb.net/?TelegramScraper=Cluster1
MONGODB_DB_NAME=telegram_news
MONGODB_COLLECTION=news

# Scraping Settings
MESSAGES_PER_CHANNEL=5000
BATCH_SIZE=100
MIN_TEXT_LENGTH=20
SKIP_MEDIA_ONLY=True

# Cloudinary (Optional - for future use)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
